<div *ngIf="countries">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Region</th>
                <th scope="col">Subregion</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries"> 
                <th scope="row">{{country.alpha3Code}}</th>
                <td>{{country.name}}</td>
                <td>{{country.region}}</td>
                <td>{{country.subregion}}</td>
                <td>
                    <!-- <button class="btn btn-primary" (click)="onSelectCountry(country)">View</button> -->
                    <a routerLink="/detail/{{country.alpha3Code}}">Detail</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>